In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv("data/output.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464478 entries, 0 to 464477
Data columns (total 35 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   City                464478 non-null  object
 1   State               464478 non-null  object
 2   BankState           464478 non-null  object
 3   ApprovalDate        464478 non-null  object
 4   ApprovalFY          464478 non-null  int64
 5   Term                464478 non-null  int64
 6   NoEmp               464478 non-null  int64
 7   CreateJob           464478 non-null  int64
 8   RetainedJob         464478 non-null  int64
 9   FranchiseCode       464478 non-null  int64
 10  UrbanRural          464478 non-null  int64
 11  RevLineCr           464478 non-null  int64
 12  LowDoc              464478 non-null  int64
 13  ChgOffDate          101572 non-null  object
 14  DisbursementDate    464478 non-null  object
 15  DisbursementGross   464478 non-null  float64
 16  BalanceGross        464478 non-null  float64
 17  MIS_Status          464478 non-null  int64
 18  ChgOffPrinGr        464478 non-null  float64
 19  GrAppv              464478 non-null  float64
 20  SBA_Appv            464478 non-null  float64
 21  DisbursementFY      464478 non-null  float64
 22  Is_Franchised       464478 non-null  int64
 23  Is_CreatedJob       464478 non-null  int64
 24  Is_RetainedJob      464478 non-null  int64
 25  Industry            464478 non-null  object
 26  RealEstate          464478 non-null  int64
 27  DaysTerm            464478 non-null  int64
 28  Active              464478 non-null  object
 29  Recession           464478 non-null  int64
 30  DaysToDisbursement  464478 non-null  int64
 31  StateSame           464478 non-null  int64
 32  SBA_AppvPct         464478 non-null  float64
 33  AppvDisbursed       464478 non-null  int64
 34  Is_Existing         464478 non-null  int64
dtypes: float64(7), int64(20), object(8)
memory usage: 124.0+ MB

In [4]:
df.drop(columns=['ChgOffDate'], inplace=True)

In [5]:
#Encode Data
encoder = OrdinalEncoder()

categorical_cols = ["City", "State", "BankState", "ApprovalDate", "DisbursementDate", "Industry", "Active"]
df[categorical_cols] = encoder.fit_transform(df[categorical_cols])

# Print the updated dataset
df.head()

,City,State,BankState,ApprovalDate,ApprovalFY,Term,NoEmp,CreateJob,RetainedJob,FranchiseCode,...,Industry,RealEstate,DaysTerm,Active,Recession,DaysToDisbursement,StateSame,SBA_AppvPct,AppvDisbursed,Is_Existing
0,6568.0,16.0,37.0,2765.0,1997,84,4,0,0,1,...,16.0,0,2520,4785.0,0,730,0,0.80,1,1
1,15225.0,16.0,17.0,2765.0,1997,60,2,0,0,1,...,0.0,0,1800,3444.0,0,92,1,0.80,1,1
2,1575.0,16.0,17.0,2765.0,1997,180,7,0,0,1,...,7.0,0,5400,7240.0,0,306,1,0.75,1,0
3,17347.0,7.0,9.0,2765.0,1997,120,19,0,0,1,...,9.0,0,3600,5256.0,0,122,0,0.75,1,0
4,21143.0,10.0,1.0,2765.0,1997,84,1,0,0,1,...,12.0,0,2520,4542.0,0,487,0,0.80,1,1

In [6]:
def metrics_fusion(y_pred, y):
    y_pred_inv = np.expm1(y_pred)
    y_inv = np.expm1(y)

    a = mean_absolute_error(y_inv, y_pred_inv)
    b = np.mean(np.abs((y_inv - y_pred_inv) / y_inv)) * 100
    c = np.sqrt(mean_squared_error(y_inv, y_pred_inv))
    d = mean_squared_error(y_inv, y_pred_inv)
    e = r2_score(y_inv, y_pred_inv)

    return {"mae": a, "mape": b, "rmse": c, "mse": d, "r2": e}